.login-btn {
  background-color: #08afc5;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.6s ;
}
.login-btn:hover{
  background-color: rgb(8, 132, 163);
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  
}

.Sb {
  background-color: #0bb3c5;
}

.blur {
  backdrop-filter: blur(10px);
}
input[type='checkbox']:checked {
  background-color: rgb(17, 133, 17);
}

input:valid{
    border: solid 1px rgb(17, 139, 170);
}
/* .b1 {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
.b2 {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
} */
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  color:gray;
  font-size: 24px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  transition: 0.3s color;
}

/* .login-btn:hover {
  background-color: #00b383;
} */
.main {
  background-color:  #e1e6ea;
}
.main2{
  background-color: #e1e6ea;

}
.footer{
  background-color: #fdfdfd;
}


.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link1 {
  color: #666777;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.nav-link1:hover,
.nav-link1.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #00b383;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link1:hover::before,
  .nav-link1.active::before {
    width: 100%;
    visibility: visible;
  }
}

.hero-section {
  /* background: url(images/pexels-negativespace-48604.jpg) no-repeat center;
  background-size: cover; */
  width: 100%;
  height: 100vh;
}

/* .hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

/* .hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
} */

/* .a2 {
  background-image: url(images/pexels-tima-miroshnichenko-5452293.jpg);
  background-size: cover;
  background-position: center;
  z-index: 999;
} */

.g {
  width: 25px;
  height: 25px;
}
.f {
  width: 25px;
  height: 25px;
}

.a1 {
  margin-top: 10%;
}

@media (max-width: 991px) {
  .a1 {
    margin-top: 15%;
  }
}

.a5 {
  margin-top: 10%;
}

.a22 {
  width: 400px;
}

.a4 {
  margin-top: 10%;
}
.career{
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-title{
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .a4 {
    margin-top: 20%;
  }
}

.footer .container .row .col-2 a {
  color: gray;
  text-decoration: none
  
}
/* ------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* -----Reset----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* -----Common----- */
body {
  height: 100vh;
  width: 100%;
  background-color: #f5f6f5;
}

input[type='radio'] {
  display: none;
}

/* -----Slider----- */
.slider {
  width: 100%;
  height: 100%;
}

.slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* Slide */
.slider .slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  transition: all 0.5s ease-in;
}

.slider .slides .curr {
  opacity: 1;
}

/* Overlay */
.slider .slides .slide::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
}

/* Images */
.slides .slide img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: scale(0.8);
  transition: all 0.5s ease-in;
}

.slides .curr img {
  transform: scale(1);
}

/* Description */
/* .spcial {
  color: rgb(255, 255, 255);
  font-family: fantasy;
  font-weight: 500;
} */
.slides .slide .desc {
  position: absolute;
  max-width: 700px;
  min-width: 550px;
  top: -50%;
  left: 150px;
  transform: translateY(50%);
  z-index: 2;
  padding: 25px;
  transition: all 0.5s ease-in;
}

.slides .curr .desc {
  top: 50%;
  transform: translateY(-50%);
}

.slide .desc h2 {
  font-size: 5rem;
  color: #fff;
  line-height: 5rem;
}

.slide .desc p {
  font-size: 1.1rem;
  margin: 25px 0px;
  color: #fff;
  line-height: 1.2rem;
}

.slide .desc a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: #02c6c3;
  padding: 10px 30px;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.slide .desc a:hover {
  background-color: #03628e;
  color: #fff;
  border-radius: 20px;
}

/* -----Navigation Arrows----- */
.slider .arrow {
  position: absolute;
  text-decoration: none;
  z-index: 20;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.slider .arrow:hover {
  opacity: 1;
}

.slider .arrow i {
  font-size: 3rem;
}

.slider .left {
  left: 70px;
}

.slider .right {
  right: 70px;
}

/* -----Radio Navigation----- */
.slider .rad-nav {
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .rad-nav .rad-btn {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.slider .rad-nav .rad-btn:hover {
  background-color: #fff;
  border-radius: 30%;
}

.active {
  background-color: #fff;
}

/* -----Responsive----- */
@media (max-width: 1100px) {
  /* Slide Description */
  .slides .slide .desc {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .slides .curr .desc {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media(max-width:389px){
  .login-btn{
    display:none ;
  }
}

@media(max-width:991px){
  .offcanvas-body .nav-item {
    background: #02c6c3;
    font-size: 1.2rem;
    padding: 0rem;
    margin-left: 2rem;
    margin: 0.5rem 1rem;
    border-radius: 5rem;
    width: 10rem;
    height: 2rem;
  }
  .nav-item a{
    margin-left: 2.5rem;
    color: white;
    font-size: 13px;
    
  }
  .nav-item #a1{
    margin-left: 4.2rem;
  }
  .nav-item #a2{
    margin-left: 4rem;
  }
}

@media (max-width: 800px) {
  /* Slide Description */
  .slides .slide .desc {
    width: 70%;
    min-width: 200px;
  }

  .slide .desc h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .slide .desc p {
    font-size: 0.8rem;
    margin: 10px 0px;
  }

  .slide .desc a {
    font-size: 0.8rem;
    padding: 10px 30px;
  }

  /* Navigation Arrows */
  .slider .arrow i {
    font-size: 2rem;
  }

  .slider .left {
    left: 20px;
  }

  .slider .right {
    right: 20px;
  }

  /* Radio Navogation */
  .slider .rad-nav .rad-btn {
    width: 15px;
    height: 15px;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s ease;
  transition-property: transform, opacity;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px); /* Move the card up */
  box-shadow: 0 10px 20px rgb(117, 208, 234); /* Add a shadow effect */
}
#btns{
  transition: 0.1s;
}
#btns:hover{
  background-color: rgb(7, 109, 150);
}
/* .offcanvas-header{
  background-color: #02c6c3;
}  */
/* a{
  display: block;
    padding: 1rem;
    margin: 1.5rem 1rem;
     background: #fbfbfb;
     color: #998d8d;
     font-size: 2rem;
     border-radius: 5rem;
} */

